@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.container {
    text-decoration: none;
    color: black;
    justify-self: center !important;
    display: grid;
    grid-template-columns: .1fr .8fr .1fr;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: auto;
    font-family: 'Muli', sans-serif;
    margin: 1% 10%;

    @media screen and (max-width: 960px) {
        // grid-template-columns: .2fr .8fr .3fr;
        grid-template-rows: 1fr 2fr 1fr;
        margin: 5% 0;
    }


    .date {
        height: 100%;
        grid-column: 1/2;
        background-color: #E55812;
        color: white;
        display: grid;

        h1 {
            align-self: center;

            @media screen and (max-width: 960px) {
                font-size: 3em;
            }
        }

        @media screen and (max-width: 960px) {
            // padding: 0 15%;
            font-size: .6em;
            grid-row: 1/2;
            grid-column: 1/4;
        }
    }

    .event {
        grid-column: 2/3;
        background-color: white;
        display: grid;

        @media screen and (max-width: 960px) {
            grid-row: 2/3;
            grid-column: 1/4;
        }

        h2 {
            font-size: 2.5em;
            align-self: center;
            margin-bottom: 0 ;

            @media screen and (max-width: 960px) {
                font-size: 2em;
            }
        }

        .button {
            text-decoration: none;
            cursor: pointer;
            color: white;
            background-color: #E55812;
            padding: 15px 25px;
            align-self: center;
            justify-self: center;
            margin: 2% 0;
            font-size: 1.3em;

            @media screen and (max-width: 960px) {
                margin: 4% 0;
            }
        }

    }

    .local {
        width: 100%;
        grid-column: 3/5;
        background-color: #E55812;
        color: white;
        display: grid;

        @media screen and (max-width: 960px) {
            grid-row: 3/4;
            grid-column: 1/4;
        }

        h2 {
            align-self: center;

            @media screen and (max-width: 960px) {
                font-size: 1.5em;
            }
        }
    }
}