@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.container {
  text-decoration: none;
  color: black;
  -ms-grid-column-align: center !important;
      justify-self: center !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .1fr .8fr .1fr;
      grid-template-columns: .1fr .8fr .1fr;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
  font-family: 'Muli', sans-serif;
  margin: 1% 10%;
}

@media screen and (max-width: 960px) {
  .container {
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    margin: 5% 0;
  }
}

.container .date {
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: #E55812;
  color: white;
  display: -ms-grid;
  display: grid;
}

.container .date h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 2%;
}

@media screen and (max-width: 960px) {
  .container .date h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 960px) {
  .container .date {
    font-size: .6em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.container .event {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: white;
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 960px) {
  .container .event {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.container .event h2 {
  font-size: 2.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  .container .event h2 {
    font-size: 2em;
  }
}

.container .event .button {
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: #E55812;
  padding: 15px 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 2% 0;
  font-size: 1.3em;
  min-width: 2em;
}

@media screen and (max-width: 960px) {
  .container .event .button {
    margin: 4% 0;
  }
}

.container .local {
  width: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  background-color: #E55812;
  color: white;
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 960px) {
  .container .local {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.container .local .map {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

@media screen and (max-width: 960px) {
  .container .local .map {
    font-size: 1.4em;
    margin: 0 5%;
  }
}
/*# sourceMappingURL=scheduleDiv.module.css.map */