@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.container {
    justify-self: center !important;
    display: grid;
    grid-template-columns: .1fr .8fr .1fr;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: auto;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    margin: 1% 10%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);

    @media screen and (max-width: 960px) {
        grid-template-columns: .2fr .8fr .3fr;
    }


    .date {
        height: 100%;
        grid-column: 1/2;
        background-color: #AC6837;
        color: white;
        display: grid;

        h1 {
            align-self: center;
        }

        @media screen and (max-width: 960px) {
            font-size: .6em;
            padding: 0 15%;
        }
    }

    .event {
        // height: 100%;
        grid-column: 2/3;
        background-color: white;
        display: grid;

        h2 {
            align-self: center;
        }

        @media screen and (max-width: 960px) {
            font-size: .9em;
        }

        @media screen and (max-width: 381px) {
            font-size: .8em;
        }
    }

    .local {
        width: 100%;
        grid-column: 3/5;
        background-color: #AC6837;
        color: white;

        @media screen and (max-width: 960px) {
            font-size: .9em;
        }

        @media screen and (max-width: 381px) {
            font-size: .7em;
        }
    }
}