@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.container {
    justify-self: center;
    display: grid;
    grid-template-columns: .1fr .8fr .1fr;
    grid-template-rows: .5fr;
    font-weight: 400;
    line-height: 1.5;
    margin: 1%;
    width: 90%;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);


    .date {
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        // background-color: #B6895D;
        background-color: #AC6837;
        color: white;
        display: grid;

        h1 {
            align-self: center;
        }
    }

    .event {
        height: 100%;
        grid-row: 1/2;
        grid-column: 2/3;
        // background-color: rgba(255,254,249,.2);
        background-color: white;
        display: grid;

        h2 {
            align-self: center;
        }
    }

    .local {
        height: 100%;
        grid-row: 1/2;
        grid-column: 3/4;
        // background-color: #B6895D;
        background-color: #AC6837;
        color: white;
    }
}