.dropdown {
  position: absolute;
  top: 5%;
  right: 1%;
  z-index: 99000;
  transition: all 0.6s ease-in-out;

  @media screen and (max-width: 960px) {
    top: 35%;
  }

  .dropbtn {
    border-radius: 8px;
    background-color: white;
    color: white;
    padding: 11px;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);

    @media screen and (max-width: 580px) {
      padding: 8px;
    }
  }
}

.dropdownContent {
  margin-top: 5%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  right: 3%;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 1;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;

  button {
    border-radius: 8px;
    border: none;
    background-color: white;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    outline: none;
  }
}

.dropdown:hover {
  transition: all 0.6s ease-in-out;

  .dropdownContent {
    visibility: visible;
    opacity: 1;
  }
}

.svg {
  height: 50px;
  width: 50px;
}

.dropdownCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 4%;
  z-index: 9999;
  transition: all 0.6s ease-in-out;

  .dropbtn {
    border-radius: 8px;
    background-color: white;
    color: white;
    padding: 11px;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);

    @media screen and (max-width: 580px) {
      padding: 8px;
    }
  }
}

.dropdownCenter:hover {
    transition: all 0.6s ease-in-out;
  
    .dropdownContent {
      visibility: visible;
      opacity: 1;
    }
  }
