@import '../../../../mixins/mixins.scss';


.container {
    font-family: 'Xilosa';
    z-index: 999999;
    background-color: #c76d2b;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    transition-property: opacity;
    transition: .5s ease-in-out;
    display: grid;

    .textContainer {
        align-self: center;
        h1 {
            font-weight: 300;
            line-height: 1;
            text-shadow: 1px 1px 1px #000;
            color: white;
            font-size: 3.1em;
            margin: 1% 0;

            @media screen and (max-width: 960px) {
                font-size: 2.6em;
            }

            @media screen and (max-width: 470px) {
                font-size: 2em;
            }
        }

        .title {
            margin: 3%;
            color: white;
            font-size: 5em;

            @media screen and (max-width: 960px) {
                font-size: 3.5em;
                padding: 0 5%;
            }

            @media screen and (max-width: 470px) {
                font-size: 2.4em;
                margin: 5%;
            }
        }

        .logo {
            height: 40vh;
            animation: float 3s ease-in-out infinite;

            @media screen and (max-width: 470px) {
                height: 25vh;
            }
        }
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.topLeft {
    position: fixed;
    top: 0;
    left: 0;
    height: 29vh;
    transform: rotate(270deg);

    @media screen and (max-width: 700px) {
        height: 20vh;
    }
}

.topRight {
    position: fixed;
    top: 0;
    right: 0;
    height: 29vh;

    @media screen and (max-width: 700px) {
        height: 20vh;
    }
}

.bottomLeft {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 29vh;
    transform: rotate(90deg);

    @media screen and (max-width: 700px) {
        height: 20vh;
    }
}

.bottomRight {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 29vh;
    transform: rotate(180deg);

    @media screen and (max-width: 700px) {
        height: 20vh;
    }
}