.container {
  display: grid;
}

.loguinho {
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;
  height: 65vh;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  animation: levitate 2s forwards 9s;

  @media screen and (max-width: 960px) {
    top: 30%;
  }

  @media screen and (max-width: 525px) {
    font-size: 3.1em;
    animation: none;
  }

  @media screen and (max-width: 459px) {
    top: 72%;
    height: 25vh;
  }
}

.st0 {
  fill: #f8d8a2;
  opacity: 0;
  animation: colorsOpacity 2s forwards 2.7s;
}

.st1 {
  fill: #59351b;
  opacity: 0;
  animation: colorsOpacity 1s forwards 2.7s;
}
.st2 {
  fill: #0ba583;
  animation: colorsOpacity 1s forwards 2.5s;
  opacity: 0;
}
.st3 {
  fill: #bfa931;
  animation: colorsOpacity 1s forwards 2.8s;
  opacity: 0;
}
.st4 {
  fill: #ef9928;
  animation: colorsOpacity 1s forwards 2.9s;
  opacity: 0;
}
.st5 {
  fill: #eb9b20;
  animation: colorsOpacity 1s forwards 2.5s;
  opacity: 0;
}
.st6 {
  fill: #eb621c;
  animation: colorsOpacity 1s forwards 2.7s;
  opacity: 0;
}
.st7 {
  fill: #af8c56;
  animation: colorsOpacity 1s forwards 2.8s;
  opacity: 0;
}
.st8 {
  opacity: 0;
  animation: colorsOpacity 1s forwards 2.5s;
}
.st9 {
  font-size: 17.564px;
}
.st10 {
  font-family: "Corbel";
}
.st11 {
  fill: #F8D8A2;
}


.triggered {
  fill: transparent;
  stroke-dasharray: 1520;
  stroke-dashoffset: 1500;
  animation: dash 3s linear forwards, fille 1s forwards 2.5s;
}

.arabescos {
  fill: transparent;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: arabescos 4s linear forwards 3s, arabescoColors 2s forwards 3.5s;
}

.titulo {
  fill: transparent;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: title 4s linear forwards 3s, titleColor 2s forwards 3.5s;
}

.linhas {
  fill: transparent;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: rectangles 4s linear forwards 3s, rectanglesColor 2s forwards 3.5s;
}

.legenda { 
    fill: transparent;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: title 4s linear forwards 3s, subtitleColor 2s forwards 3.5s;
}

.arcos {
fill: transparent;
  stroke-dasharray: 2420;
  stroke-dashoffset: 2600;
  animation: title 3.5s linear forwards 4s, archColors 2s forwards 6s;

  @media screen and (max-width: 500px) {
    stroke-dasharray: auto;
    stroke-dashoffset: auto;
    animation: archColors 2s linear forwards 3s;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fille {
  to {
    fill: #f8d8a2;
  }
}

@keyframes colorsOpacity {
  to {
    opacity: 1;
  }
}

@keyframes arabescos {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes arabescoColors {
  to {
    fill: #af8c56;
  }
}

@keyframes title {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes titleColor {
  to {
    fill: #59351b;
  }
}

@keyframes rectangles {
    to {
        stroke-dashoffset: 0;
      }
}

@keyframes rectanglesColor {
    to {
        fill: #AF8C56;
      }
}

@keyframes subtitleColor {
    to {
        fill: #59351B;
    }
}

@keyframes archColors {
    to {
        fill: white;
    }
}

@keyframes levitate {
  to {
   transform: translateY(-25%);
  }
}
