@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.container {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr 1fr 1fr 1fr .3fr;
      grid-template-rows: .5fr 1fr 1fr 1fr .3fr;
}

.container .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container .titleContainer h1 {
  margin: 0;
  margin-top: 2%;
  font-size: 4em;
  font-family: 'Muli', sans-serif;
  text-shadow: 0 1px 2px rgba(60, 64, 67, 0.3);
}

.container .titleContainer h2 {
  text-shadow: 0 1px 2px rgba(60, 64, 67, 0.3);
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 4%;
}

.container .brPosts {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .1fr 1fr;
      grid-template-rows: .1fr 1fr;
  margin: 1%;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.container .brPosts .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container .brPosts .titleContainer .title {
  color: black;
  margin: 0;
  margin: 2% 0;
}

.container .brPosts .postsContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .enPosts {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .1fr 1fr;
      grid-template-rows: .1fr 1fr;
  margin: 1%;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.container .enPosts .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container .enPosts .titleContainer .title {
  color: black;
  margin: 0;
  margin: 2% 0;
}

.container .enPosts .postsContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .frPosts {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .1fr 1fr;
      grid-template-rows: .1fr 1fr;
  margin: 1%;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.container .frPosts .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container .frPosts .titleContainer .title {
  color: black;
  margin: 0;
  margin: 2% 0;
}

.container .frPosts .postsContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .buttonContainer {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -ms-grid;
  display: grid;
}

.container .buttonContainer .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 1.5% 7%;
  border-radius: 3px;
  background-color: #318647;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container .buttonContainer .button:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.editorContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 5px;
  height: 550px;
  font-family: 'Muli', sans-serif;
}

.editorContainer .previewContainer {
  overflow-y: scroll;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr 1fr;
      grid-template-rows: .5fr 1fr;
}

.editorContainer .previewContainer .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 5%;
}

.editorContainer .previewContainer .titleContainer .title {
  margin: 1% 0;
  font-size: 2.5em;
}

.editorContainer .previewContainer .titleContainer .image {
  width: 50%;
  height: 50%;
}

.editorContainer .previewContainer .titleContainer .date {
  margin: 1% 0;
}

.editorContainer .previewContainer .titleContainer .resume {
  margin: 5% 0;
  text-align: center;
}

.editorContainer .previewContainer .contentContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 2%;
  word-break: normal;
}

.editorContainer .previewContainer .contentContainer .content {
  margin: 0;
  text-align: justify;
}

.editorContainer .editorContainer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 0 5%;
}

.editorContainer .editorContainer form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .2fr .2fr .2fr .9fr fr;
      grid-template-rows: .2fr .2fr .2fr .9fr fr;
}

.editorContainer .editorContainer form .title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: left;
}

.editorContainer .editorContainer form .date {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: left;
}

.editorContainer .editorContainer form .content {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: left;
}

.editorContainer .editorContainer form .body {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.editorContainer .editorContainer form .body input[type=text] {
  width: 100%;
  height: 80%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.editorContainer .editorContainer form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.editorContainer .editorContainer form input[type=text]:hover {
  border: 1px solid #A7A7A7;
}

.editorContainer .editorContainer form .submit {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.editorContainer .editorContainer form .submit .button {
  padding: 3% 18%;
  border-radius: 3px;
  background-color: #318647;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.editorContainer .editorContainer form .submit .removeButton {
  padding: 3% 18%;
  border-radius: 3px;
  background-color: #A61C3C;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.Modal {
  background-color: white;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  padding: 10% 0;
}

.Modal h1 {
  font-size: 3em;
  margin: 0;
}

.Modal h2 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 4%;
}

.Modal .button {
  padding: 2% 6%;
  border-radius: 3px;
  background: #318647;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Modal .button:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
/*# sourceMappingURL=NewsEditor.module.css.map */