@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.container {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .1fr 1fr;
      grid-template-rows: .1fr 1fr;
}

.container .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container .titleContainer h1 {
  margin: 0;
  margin-top: 2%;
  font-size: 4em;
  font-family: 'Muli', sans-serif;
  text-shadow: 0 1px 2px rgba(60, 64, 67, 0.3);
}

.container .titleContainer h2 {
  text-shadow: 0 1px 2px rgba(60, 64, 67, 0.3);
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 4%;
}

.container .contentContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1%;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.buttonsDiv {
  z-index: 12;
  position: fixed;
  top: 5%;
  right: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.buttonsDiv .returnButton {
  border-radius: 5px;
  padding: 5% 5%;
  margin-bottom: 5%;
  border-radius: 12px;
  background-color: #A61C3C;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.buttonsDiv .addButton {
  border-radius: 5px;
  padding: 5% 5%;
  border-radius: 12px;
  background-color: #318647;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modalContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .3fr;
      grid-template-columns: 1fr .3fr;
}

.modalContainer .modalImage {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.modalContainer .modalImage .image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.modalContainer .modalButtons {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
}

.modalContainer .modalButtons .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5% 5%;
  border-radius: 3px;
  background-color: #A61C3C;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modalContainer .modalButtons .button:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.formModalContainer {
  background-color: white;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr 1fr;
      grid-template-rows: .5fr 1fr;
}

.formModalContainer .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #2a2a2b;
}

.formModalContainer .titleContainer h1 {
  margin: 0;
  margin-top: 2%;
  font-size: 4em;
  font-family: 'Muli', sans-serif;
}

.formModalContainer .titleContainer h2 {
  text-shadow: 0 1px 2px rgba(60, 64, 67, 0.3);
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 4%;
}

.formModalContainer .buttonsContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.formModalContainer .buttonsContainer .selector {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
}

.formModalContainer .buttonsContainer .selector input[type='file'] {
  display: none;
}

.formModalContainer .buttonsContainer .selector label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 15px 15px;
  border-radius: 12px;
  background-color: #318647;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.formModalContainer .buttonsContainer .selector label:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.formModalContainer .buttonsContainer .submit {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
}

.formModalContainer .buttonsContainer .submit .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 15px 25px;
  border-radius: 12px;
  background-color: #318647;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.formModalContainer .buttonsContainer .submit .button:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.Modal {
  background-color: white;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  padding: 10% 0;
}

.Modal h1 {
  font-size: 3em;
  margin: 0;
}

.Modal h2 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 4%;
}

.Modal .button {
  padding: 2% 6%;
  border-radius: 3px;
  background: #318647;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Modal .button:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
/*# sourceMappingURL=GalleryEditor.module.css.map */