.st0In {
  fill: #fff;
  fill-opacity: 0;
  -webkit-animation: opacidade 2s ease-in-out forwards 3s;
          animation: opacidade 2s ease-in-out forwards 3s;
}

.st0Out {
  -webkit-animation: opacidadeOut 2s ease-in-out forwards 3s;
          animation: opacidadeOut 2s ease-in-out forwards 3s;
}

.st1 {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.7;
}

.dancersIn {
  position: absolute;
  height: 40vh;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.dancersOut {
  position: absolute;
  bottom: 0;
  height: 40vh;
  right: 0;
  z-index: 9999;
}

.decoIn {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.7;
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  -webkit-animation: drawAnimation 2s ease-in-out forwards 2s, fillAnimation 2s ease-in-out forwards 3s;
          animation: drawAnimation 2s ease-in-out forwards 2s, fillAnimation 2s ease-in-out forwards 3s;
}

.decoOut {
  fill: #fff;
  stroke: #fff;
  stroke-dasharray: 170;
  stroke-dashoffset: 0;
  -webkit-animation: fillAnimationOut 1s ease-in-out forwards, drawAnimationOut 2s ease-in-out forwards;
          animation: fillAnimationOut 1s ease-in-out forwards, drawAnimationOut 2s ease-in-out forwards;
}

.blackFillIn {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.3;
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  -webkit-animation: drawAnimation 2s ease-in-out forwards 2s, fillAnimationBlack2 1s ease-in-out forwards 3s , fillAnimationBlack 2s ease-in-out forwards 3s;
          animation: drawAnimation 2s ease-in-out forwards 2s, fillAnimationBlack2 1s ease-in-out forwards 3s , fillAnimationBlack 2s ease-in-out forwards 3s;
}

.blackFillOut {
  -webkit-animation: drawAnimationOut2 2s ease-in-out forwards 2s, fillAnimationBlackOut 2s ease-in-out forwards 3s;
          animation: drawAnimationOut2 2s ease-in-out forwards 2s, fillAnimationBlackOut 2s ease-in-out forwards 3s;
}

@-webkit-keyframes drawAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes drawAnimationOut {
  to {
    stroke-dashoffset: 170;
  }
}

@keyframes drawAnimationOut {
  to {
    stroke-dashoffset: 170;
  }
}

@-webkit-keyframes drawAnimationOut2 {
  to {
    stroke-dashoffset: 750;
  }
}

@keyframes drawAnimationOut2 {
  to {
    stroke-dashoffset: 750;
  }
}

@-webkit-keyframes fillAnimation {
  to {
    fill: #fff;
    stroke: #000;
  }
}

@keyframes fillAnimation {
  to {
    fill: #fff;
    stroke: #000;
  }
}

@-webkit-keyframes fillAnimationBlack {
  to {
    stroke: #000;
  }
}

@keyframes fillAnimationBlack {
  to {
    stroke: #000;
  }
}

@-webkit-keyframes fillAnimationBlackOut {
  to {
    stroke-opacity: 0;
    fill-opacity: 0;
  }
}

@keyframes fillAnimationBlackOut {
  to {
    stroke-opacity: 0;
    fill-opacity: 0;
  }
}

@-webkit-keyframes fillAnimationBlack2 {
  to {
    stroke: #000;
    fill: #000;
  }
}

@keyframes fillAnimationBlack2 {
  to {
    stroke: #000;
    fill: #000;
  }
}

@-webkit-keyframes fillAnimationOut {
  to {
    fill: transparent;
  }
}

@keyframes fillAnimationOut {
  to {
    fill: transparent;
  }
}

@-webkit-keyframes opacidade {
  to {
    fill-opacity: 1;
  }
}

@keyframes opacidade {
  to {
    fill-opacity: 1;
  }
}

@-webkit-keyframes opacidadeOut {
  to {
    fill-opacity: 0;
  }
}

@keyframes opacidadeOut {
  to {
    fill-opacity: 0;
  }
}
/*# sourceMappingURL=cordeis.css.map */