.st0In {
  fill: #fff;
  fill-opacity: 0;
  stroke-width: 0.3;
  animation: opacidade 2s ease-in-out forwards 3s;
}

.st0Out {
  fill: #fff;
  stroke-width: 0.3;
  animation: opacidadeOut .5s ease-in-out forwards;
}


.dancersIn {
  position: absolute;
  height: 40vh;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.dancersOut {
  position: absolute;
  bottom: 0;
  height: 40vh;
  right: 0;
  z-index: 9999;
}

.decoIn {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.7;
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: drawAnimation 2s ease-in-out forwards 2s, fillAnimation 2s ease-in-out forwards 3s;
}

.decoOut {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.7;
  stroke-dasharray: 170;
  stroke-dashoffset: 0;
  animation: fillAnimationOut 1s ease-in-out forwards, drawAnimationOut 2s ease-in-out forwards;
}

.blackFillIn {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.3;
  stroke-dasharray: 850;
  stroke-dashoffset: 850;
  animation: drawAnimation 2s ease-in-out forwards 2s, fillAnimationBlack2 1s ease-in-out forwards 3s , fillAnimationBlack 2s ease-in-out forwards 3s;
}

.blackFillOut {
  fill: #000;
  stroke: #fff;
  stroke-width: 0.3;
  stroke-dasharray: 850;
  stroke-dashoffset: 0;
  animation: fillAnimationBlackOut 1s ease-in-out forwards, drawAnimationOut2 3s ease-in-out forwards;
}

@keyframes drawAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawAnimationOut {
  to {
    stroke-dashoffset: 170;
  }
}

@keyframes drawAnimationOut2 {
  to {
    stroke-dashoffset: 850;
  }
}

@keyframes fillAnimation {
  to {
    fill: #fff;
    stroke: #000;
  }
}

@keyframes fillAnimationBlack {
  to {
    // stroke: #000;
    stroke: #fff;
    stroke-width: .1;
  }
}

@keyframes fillAnimationBlack2 {
  to {
    stroke: #000;
    fill: #000;
  }
}

@keyframes fillAnimationBlackOut {
  to {
    fill: transparent;
  }
}

@keyframes fillAnimationOut {
  to {
    fill: transparent;
  }
}

@keyframes opacidade {
  to {
    fill-opacity: 1;
  }
}

@keyframes opacidadeOut {
  to {
    fill-opacity: 0;
  }
}