@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

@mixin font-face($font-name) {
  @font-face {
    font-family: $font-name;
    src: url("../../../../assets/font/xilosa_.ttf") format("truetype");
  }
}

@include font-face(Xilosa);

::-webkit-scrollbar {
  display: none;
}

.animationsContainer {
  animation: initialAnimation 4s ease-in-out;
}

.blockerDiv {
  height: 100vh;
  color: white;
  background-color: black;
  z-index: 99999;
  position: fixed;
  opacity: 1;
  display: grid;
  visibility: visible;

  .blockerTitle {
    align-self: center;
  }

  @media screen and (min-width: 870px) {
    opacity: 0;
    height: 0vh;
    visibility: hidden;
  }
}


.section1 {
  // z-index: 9999;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  height: 100vh;
  color: white;
  opacity: 1;

  @media screen and (max-width: 870px) {
    opacity: 0;
  }

  //O VÍDEO PRECISA ESTAR DENTRO DE UMA DIV 'CONTAINER' PARA QUE SÓ ASSIM ELE OCUPE 100% DO DISPLAY (SEM BORDAS PRETAS NAS LATERAIS)

  .container {
    background-color: black;
    z-index: 0;
    left: 0;
    right: 0;
    position: absolute;

    .video {
      height: 100%;
      width: 100%;
      filter: brightness(50%);
      background-color: black;

      @media screen and (max-width: 1160px) {
        height: 100vh;
      }
    }
  }
  .titleContainer {
    grid-row: 1/2;
    z-index: 9999;
    font-family: "xilosa";

    .hat {
      margin: 1% 0;
      opacity: 0;
      animation: section1Hat 2s ease-in-out forwards 1s;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
    }

    .hatOut {
      margin: 1% 0;
      opacity: 1;
      animation: section1HatOut 0.3s ease-in-out forwards;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
      transform: translateY(20px);
    }

    .title {
      line-height: 1;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
      margin: 3% 0;
      animation: section1Title 2s ease-in-out forwards 1s;
      opacity: 0;
    }

    .titleOut {
      line-height: 1;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
      margin: 3% 0;
      opacity: 1;
      animation: section1TitleOut 0.3s ease-in-out forwards;
      transform: translateY(-15px);
    }
  }

  .bodyContainer {
    z-index: 9999;
    grid-row: 2/3;
    align-self: flex-end;

    .subtitle {
      animation: section1Subtitle 1s ease-in-out forwards 2s;
      opacity: 0;
    }

    .subtitleOut {
      animation: section1SubtitleOut 0.3s ease-in-out forwards;
      transform: translateY(-20px);
    }
  }
}

.section2 {
  display: grid;
  grid-template-rows: 0.9fr;
  height: 100vh;
  color: white;

  //O VÍDEO PRECISA ESTAR DENTRO DE UMA DIV 'CONTAINER' PARA QUE SÓ ASSIM ELE OCUPE 100% DO DISPLAY (SEM BORDAS PRETAS NAS LATERAIS)

  .container {
    background-color: black;
    z-index: 0;
    left: 0;
    right: 0;
    position: absolute;

    .video {
      height: 100%;
      width: 100%;
      filter: brightness(50%);
      background-color: black;

      @media screen and (max-width: 1160px) {
        height: 100vh;
      }
    }
  }
  .textContainer {
    grid-row: 1/2;
    z-index: 10;
    align-self: center;
    margin: 0 25%;

    .hat {
      font-family: xilosa;
      padding: 1% 0;
      opacity: 0;
      animation: section1Hat 2s ease-in-out forwards 2s;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
    }

    .hatOut {
      font-family: xilosa;
      padding: 1% 0;
      animation: section1HatOut 0.3s ease-in-out forwards;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
      transform: translateY(20px);
    }

    .text {
      font-size: 2em;
      font-family: "Muli", sans-serif;
      text-shadow: 0.5px 0.5px 0.5px #000;
      align-self: flex-end;
      animation: section1Title 2s ease-in-out forwards 2s;
      opacity: 0;
    }

    .textOut {
      font-size: 2em;
      font-family: "Muli", sans-serif;
      text-shadow: 0.5px 0.5px 0.5px #000;
      align-self: flex-end;
      animation: section1TitleOut 0.3s ease-in-out forwards;
      transform: translateY(-15px);
    }
  }
}

.section3 {
  display: grid;
  grid-template-rows: 0.9fr;
  height: 100vh;
  color: white;

  //O VÍDEO PRECISA ESTAR DENTRO DE UMA DIV 'CONTAINER' PARA QUE SÓ ASSIM ELE OCUPE 100% DO DISPLAY (SEM BORDAS PRETAS NAS LATERAIS)

  .container {
    background-color: black;
    z-index: 0;
    left: 0;
    right: 0;
    position: absolute;

    .video {
      height: 100%;
      width: 100%;
      filter: brightness(50%);
      background-color: black;

      @media screen and (max-width: 1160px) {
        height: 100vh;
      }
    }
  }
  .textContainer {
    grid-row: 1/2;
    z-index: 10;
    align-self: center;
    margin: 0 25%;

    .hat {
      font-family: xilosa;
      padding: 1% 0;
      opacity: 0;
      animation: section1Hat 2s ease-in-out forwards 2s;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
    }

    .hatOut {
      font-family: xilosa;
      padding: 1% 0;
      animation: section1HatOut 0.3s ease-in-out forwards;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
      transform: translateY(20px);
    }

    .text {
      font-size: 1.8em;
      font-family: "Muli", sans-serif;
      text-shadow: 0.5px 0.5px 0.5px #000;
      align-self: flex-end;
      animation: section1Title 2s ease-in-out forwards 2s;
      opacity: 0;
    }

    .textOut {
      font-size: 2em;
      font-family: "Muli", sans-serif;
      text-shadow: 0.5px 0.5px 0.5px #000;
      align-self: flex-end;
      animation: section1TitleOut 0.3s ease-in-out forwards;
      transform: translateY(-15px);
    }
  }
}

.section4 {
  display: grid;
  height: 100vh;
  color: white;

  .container {
    background-color: black;
    z-index: 0;
    left: 0;
    right: 0;
    position: absolute;

    .video {
      height: 100%;
      width: 100%;
      filter: brightness(50%);
      background-color: black;

      @media screen and (max-width: 1160px) {
        height: 100vh;
      }
    }
  }

  .textContainer {
    align-self: center;
    // justify-self: center;
    margin: 0 25%;

    .hat {
      font-family: xilosa;
      padding: 1% 0;
      opacity: 0;
      animation: section1Hat 2s ease-in-out forwards 2s;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
    }

    .hatOut {
      font-family: xilosa;
      padding: 1% 0;
      animation: section1HatOut 0.3s ease-in-out forwards;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
      font-size: 4em;
      font-weight: 500;
      transform: translateY(20px);
    }

    .text {
      font-size: 2em;
      font-family: "Muli", sans-serif;
      text-shadow: 0.5px 0.5px 0.5px #000;
      align-self: flex-end;
      animation: section1Title 2s ease-in-out forwards 2s;
      opacity: 0;
    }

    .textOut {
      font-size: 2em;
      font-family: "Muli", sans-serif;
      text-shadow: 0.5px 0.5px 0.5px #000;
      align-self: flex-end;
      animation: section1TitleOut 0.3s ease-in-out forwards;
      transform: translateY(-15px);
    }
  }

  .linkContainer {
    z-index: 99999;

    .link {
      opacity: 0;
      color: white;
      padding: 20px 35px;
      background-color: #C76D2B;
      transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
      text-decoration: none;
      font-size: 1.5em;
      font-family: "Muli", sans-serif;
      text-shadow: 0.5px 0.5px 0.5px #000;
      transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation: section1Title 2s ease-in-out forwards 2.5s;
    }

    .linkOut {
      color: white;
      padding: 20px 35px;
      background-color: #C76D2B;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
      text-decoration: none;
      font-size: 1.5em;
      font-family: "Muli", sans-serif;
      text-shadow: 0.5px 0.5px 0.5px #000;
      animation: section1TitleOut 0.3s ease-in-out forwards;
      transform: translateY(-15px);
    }
  }

}

@keyframes initialAnimation {
  0% {
    opacity: 0;
    stroke-opacity: 0;
  }

  100% {
    opacity: 1;
    stroke-opacity: 1;
  }
}

// ANIMATIONS KEYFRAMES!

// SECTION 1:

@keyframes section1Hat {
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

@keyframes section1HatOut {
  to {
    opacity: 0;
  }
}

@keyframes section1Title {
  to {
    opacity: 1;
    transform: translateY(-15px);
  }
}

@keyframes section1TitleOut {
  to {
    opacity: 0;
  }
}

@keyframes section1Subtitle {
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes section1SubtitleOut {
  to {
    opacity: 0;
  }
}

@keyframes section4ButtonIn {
  to {
    opacity: 1;
  }
}
