@font-face {
  font-family: Xilosa;
  src: url("../../../../assets/font/xilosa_.ttf") format("truetype");
}

::-webkit-scrollbar {
  display: none;
}

.animationsContainer {
  -webkit-animation: initialAnimation 2s ease-in-out;
          animation: initialAnimation 2s ease-in-out;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr 1fr;
      grid-template-rows: .5fr 1fr;
  height: 100vh;
  color: white;
}

.section1 .container {
  background-color: black;
  z-index: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.section1 .container .video {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-color: black;
}

@media screen and (max-width: 1160px) {
  .section1 .container .video {
    height: 100vh;
  }
}

.section1 .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 9999;
  font-family: "xilosa";
}

.section1 .titleContainer .hat {
  margin: 1% 0;
  opacity: 0;
  -webkit-animation: section1Hat 2s ease-in-out forwards 1s;
          animation: section1Hat 2s ease-in-out forwards 1s;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
}

.section1 .titleContainer .hatOut {
  margin: 1% 0;
  opacity: 1;
  -webkit-animation: section1HatOut .3s ease-in-out forwards;
          animation: section1HatOut .3s ease-in-out forwards;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section1 .titleContainer .title {
  line-height: 1;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  margin: 3% 0;
  -webkit-animation: section1Title 2s ease-in-out forwards 1s;
          animation: section1Title 2s ease-in-out forwards 1s;
  opacity: 0;
}

.section1 .titleContainer .titleOut {
  line-height: 1;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  margin: 3% 0;
  opacity: 1;
  -webkit-animation: section1TitleOut .3s ease-in-out forwards;
          animation: section1TitleOut .3s ease-in-out forwards;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.section1 .bodyContainer {
  z-index: 9999;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section1 .bodyContainer .subtitle {
  -webkit-animation: section1Subtitle 1s ease-in-out forwards 2s;
          animation: section1Subtitle 1s ease-in-out forwards 2s;
  opacity: 0;
}

.section1 .bodyContainer .subtitleOut {
  -webkit-animation: section1SubtitleOut .3s ease-in-out forwards;
          animation: section1SubtitleOut .3s ease-in-out forwards;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr 1fr;
      grid-template-rows: .5fr 1fr;
  height: 100vh;
  color: white;
}

.section2 .container {
  background-color: black;
  z-index: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.section2 .container .video {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-color: black;
}

@media screen and (max-width: 1160px) {
  .section2 .container .video {
    height: 100vh;
  }
}

.section2 .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section2 .titleContainer .hat {
  margin: 1% 0;
}

.section2 .titleContainer h1 {
  font-family: "xilosa";
  line-height: 1;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  margin: 1% 0;
}

.section2 .bodyContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .5fr 1fr;
      grid-template-rows: .5fr 1fr;
  height: 100vh;
  color: white;
}

.section3 .container {
  background-color: black;
  z-index: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.section3 .container .video {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-color: black;
}

@media screen and (max-width: 1160px) {
  .section3 .container .video {
    height: 100vh;
  }
}

.section3 .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section3 .titleContainer .hat {
  margin: 1% 0;
}

.section3 .titleContainer h1 {
  font-family: "xilosa";
  line-height: 1;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  margin: 1% 0;
}

.section3 .bodyContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@-webkit-keyframes initialAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes initialAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes section1Hat {
  to {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes section1Hat {
  to {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes section1HatOut {
  to {
    opacity: 0;
  }
}

@keyframes section1HatOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes section1Title {
  to {
    opacity: 1;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes section1Title {
  to {
    opacity: 1;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes section1TitleOut {
  to {
    opacity: 0;
  }
}

@keyframes section1TitleOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes section1Subtitle {
  to {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes section1Subtitle {
  to {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes section1SubtitleOut {
  to {
    opacity: 0;
  }
}

@keyframes section1SubtitleOut {
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=dvdsection.module.css.map */