@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@font-face {
  font-family: Xilosa;
  src: url("../../../../assets/font/xilosa_.ttf") format("truetype");
}

::-webkit-scrollbar {
  display: none;
}

.animationsContainer {
  -webkit-animation: initialAnimation 4s ease-in-out;
          animation: initialAnimation 4s ease-in-out;
}

.blockerDiv {
  height: 100vh;
  color: white;
  background-color: black;
  z-index: 99999;
  position: fixed;
  opacity: 1;
  display: -ms-grid;
  display: grid;
  visibility: visible;
}

.blockerDiv .blockerTitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 870px) {
  .blockerDiv {
    opacity: 0;
    height: 0vh;
    visibility: hidden;
  }
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 1fr;
      grid-template-rows: 0.5fr 1fr;
  height: 100vh;
  color: white;
  opacity: 1;
}

@media screen and (max-width: 870px) {
  .section1 {
    opacity: 0;
  }
}

.section1 .container {
  background-color: black;
  z-index: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.section1 .container .video {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-color: black;
}

@media screen and (max-width: 1160px) {
  .section1 .container .video {
    height: 100vh;
  }
}

.section1 .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 9999;
  font-family: "xilosa";
}

.section1 .titleContainer .hat {
  margin: 1% 0;
  opacity: 0;
  -webkit-animation: section1Hat 2s ease-in-out forwards 1s;
          animation: section1Hat 2s ease-in-out forwards 1s;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
}

.section1 .titleContainer .hatOut {
  margin: 1% 0;
  opacity: 1;
  -webkit-animation: section1HatOut 0.3s ease-in-out forwards;
          animation: section1HatOut 0.3s ease-in-out forwards;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section1 .titleContainer .title {
  line-height: 1;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  margin: 3% 0;
  -webkit-animation: section1Title 2s ease-in-out forwards 1s;
          animation: section1Title 2s ease-in-out forwards 1s;
  opacity: 0;
}

.section1 .titleContainer .titleOut {
  line-height: 1;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  margin: 3% 0;
  opacity: 1;
  -webkit-animation: section1TitleOut 0.3s ease-in-out forwards;
          animation: section1TitleOut 0.3s ease-in-out forwards;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.section1 .bodyContainer {
  z-index: 9999;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section1 .bodyContainer .subtitle {
  -webkit-animation: section1Subtitle 1s ease-in-out forwards 2s;
          animation: section1Subtitle 1s ease-in-out forwards 2s;
  opacity: 0;
}

.section1 .bodyContainer .subtitleOut {
  -webkit-animation: section1SubtitleOut 0.3s ease-in-out forwards;
          animation: section1SubtitleOut 0.3s ease-in-out forwards;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.9fr;
      grid-template-rows: 0.9fr;
  height: 100vh;
  color: white;
}

.section2 .container {
  background-color: black;
  z-index: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.section2 .container .video {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-color: black;
}

@media screen and (max-width: 1160px) {
  .section2 .container .video {
    height: 100vh;
  }
}

.section2 .textContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 25%;
}

.section2 .textContainer .hat {
  font-family: xilosa;
  padding: 1% 0;
  opacity: 0;
  -webkit-animation: section1Hat 2s ease-in-out forwards 2s;
          animation: section1Hat 2s ease-in-out forwards 2s;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
}

.section2 .textContainer .hatOut {
  font-family: xilosa;
  padding: 1% 0;
  -webkit-animation: section1HatOut 0.3s ease-in-out forwards;
          animation: section1HatOut 0.3s ease-in-out forwards;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section2 .textContainer .text {
  font-size: 2em;
  font-family: "Muli", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: section1Title 2s ease-in-out forwards 2s;
          animation: section1Title 2s ease-in-out forwards 2s;
  opacity: 0;
}

.section2 .textContainer .textOut {
  font-size: 2em;
  font-family: "Muli", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: section1TitleOut 0.3s ease-in-out forwards;
          animation: section1TitleOut 0.3s ease-in-out forwards;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.section3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.9fr;
      grid-template-rows: 0.9fr;
  height: 100vh;
  color: white;
}

.section3 .container {
  background-color: black;
  z-index: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.section3 .container .video {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-color: black;
}

@media screen and (max-width: 1160px) {
  .section3 .container .video {
    height: 100vh;
  }
}

.section3 .textContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 25%;
}

.section3 .textContainer .hat {
  font-family: xilosa;
  padding: 1% 0;
  opacity: 0;
  -webkit-animation: section1Hat 2s ease-in-out forwards 2s;
          animation: section1Hat 2s ease-in-out forwards 2s;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
}

.section3 .textContainer .hatOut {
  font-family: xilosa;
  padding: 1% 0;
  -webkit-animation: section1HatOut 0.3s ease-in-out forwards;
          animation: section1HatOut 0.3s ease-in-out forwards;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section3 .textContainer .text {
  font-size: 1.8em;
  font-family: "Muli", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: section1Title 2s ease-in-out forwards 2s;
          animation: section1Title 2s ease-in-out forwards 2s;
  opacity: 0;
}

.section3 .textContainer .textOut {
  font-size: 2em;
  font-family: "Muli", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: section1TitleOut 0.3s ease-in-out forwards;
          animation: section1TitleOut 0.3s ease-in-out forwards;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.section4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: 100vh;
  color: white;
}

.section4 .container {
  background-color: black;
  z-index: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.section4 .container .video {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-color: black;
}

@media screen and (max-width: 1160px) {
  .section4 .container .video {
    height: 100vh;
  }
}

.section4 .textContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 25%;
}

.section4 .textContainer .hat {
  font-family: xilosa;
  padding: 1% 0;
  opacity: 0;
  -webkit-animation: section1Hat 2s ease-in-out forwards 2s;
          animation: section1Hat 2s ease-in-out forwards 2s;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
}

.section4 .textContainer .hatOut {
  font-family: xilosa;
  padding: 1% 0;
  -webkit-animation: section1HatOut 0.3s ease-in-out forwards;
          animation: section1HatOut 0.3s ease-in-out forwards;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  font-size: 4em;
  font-weight: 500;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section4 .textContainer .text {
  font-size: 2em;
  font-family: "Muli", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: section1Title 2s ease-in-out forwards 2s;
          animation: section1Title 2s ease-in-out forwards 2s;
  opacity: 0;
}

.section4 .textContainer .textOut {
  font-size: 2em;
  font-family: "Muli", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: section1TitleOut 0.3s ease-in-out forwards;
          animation: section1TitleOut 0.3s ease-in-out forwards;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.section4 .buttonLink {
  -webkit-animation: section4ButtonIn 2s ease-in-out forwards 2s;
          animation: section4ButtonIn 2s ease-in-out forwards 2s;
  opacity: 0;
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  background-color: #c76d2b;
  border-radius: 5px;
  font-size: 1.6em;
  font-family: "Muli", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.section4 .buttonLinkOut {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  background-color: #c76d2b;
  border-radius: 5px;
  font-size: 1.6em;
  font-family: "Muli", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  -webkit-animation: section1TitleOut 0.3s ease-in-out forwards;
          animation: section1TitleOut 0.3s ease-in-out forwards;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
}

@-webkit-keyframes initialAnimation {
  0% {
    opacity: 0;
    stroke-opacity: 0;
  }
  100% {
    opacity: 1;
    stroke-opacity: 1;
  }
}

@keyframes initialAnimation {
  0% {
    opacity: 0;
    stroke-opacity: 0;
  }
  100% {
    opacity: 1;
    stroke-opacity: 1;
  }
}

@-webkit-keyframes section1Hat {
  to {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes section1Hat {
  to {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes section1HatOut {
  to {
    opacity: 0;
  }
}

@keyframes section1HatOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes section1Title {
  to {
    opacity: 1;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes section1Title {
  to {
    opacity: 1;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes section1TitleOut {
  to {
    opacity: 0;
  }
}

@keyframes section1TitleOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes section1Subtitle {
  to {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes section1Subtitle {
  to {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes section1SubtitleOut {
  to {
    opacity: 0;
  }
}

@keyframes section1SubtitleOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes section4ButtonIn {
  to {
    opacity: 1;
  }
}

@keyframes section4ButtonIn {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=dvdsection.module.css.map */