.menu {
  position: fixed;
  z-index: 500;
  width: 70%;
  border: 1px solid transparent;
  padding: 16px;
  left: 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

@media (max-width: 755px) {
  .menu {
    display: none;
  }
}

.menu .closeButton .title {
  text-align: center;
  font-family: xilosa;
  font-weight: 300;
  line-height: 1.2;
  margin: 15% 0;
  font-size: 2em;
  color: #ac6937;
  cursor: pointer;
}

.menu .closeButton .tooltipText {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  left: -155%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu .closeButton .tooltipText::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.menu .historyButton .historyTooltip {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 18%;
  left: -155%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu .historyButton .historyTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.menu .galleryButton .galleryTooltip {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 32%;
  left: -155%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu .galleryButton .galleryTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.menu .scheduleButton .scheduleTooltip {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 46%;
  left: -155%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu .scheduleButton .scheduleTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.menu .newsButton .newsTooltip {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 59%;
  left: -155%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu .newsButton .newsTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.menu .techButton .techTooltip {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 73%;
  left: -155%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu .techButton .techTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.menu .socialButton .socialTooltip {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 87%;
  left: -155%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu .socialButton .socialTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.subMenu {
  width: 80px;
  left: calc(100% - 90px);
  top: calc(50% - 270px);
  position: fixed;
  z-index: 500;
  border: 1px solid transparent;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  cursor: pointer;
}

.subMenu .subText {
  text-align: center;
  font-family: xilosa;
  font-weight: 300;
  line-height: 1.2;
  margin: 15% 0;
  font-size: 1.9em;
  color: #ac6937;
}

.subMenu .subTooltip {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 27%;
  opacity: 0;
  right: 115%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.subMenu .subTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.svg {
  height: 35px;
}

@media (min-width: 600px) {
  .menu {
    width: 100px;
    left: calc(100% - 110px);
    top: calc(50% - 270px);
  }
}

.Button {
  border: none;
  background-color: #ac6937;
  color: white;
  cursor: pointer;
  font-family: xilosa;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 15% 0;
  opacity: 0.6;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 8px;
}

.Button:hover {
  opacity: 1;
  padding: 13px 13px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.Button:hover .svg {
  height: 40px;
}

.active {
  opacity: 1;
  padding: 13px 13px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.active .svg {
  height: 40px;
}

.subMenu:hover .subTooltip {
  visibility: visible;
  opacity: 1;
}

.closeButton:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.historyButton:hover .historyTooltip {
  visibility: visible;
  opacity: 1;
}

.galleryButton:hover .galleryTooltip {
  visibility: visible;
  opacity: 1;
}

.scheduleButton:hover .scheduleTooltip {
  visibility: visible;
  opacity: 1;
}

.newsButton:hover .newsTooltip {
  visibility: visible;
  opacity: 1;
}

.techButton:hover .techTooltip {
  visibility: visible;
  opacity: 1;
}

.socialButton:hover .socialTooltip {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=sideMenu.module.css.map */