@mixin font-face($font-name) {
  @font-face {
    font-family: $font-name;
    src: url("../../../../assets/font/xilosa_.ttf") format("truetype");
  }
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

@include font-face(Xilosa);

.heroContainer {
  // color:#fccb79; //PRINCIPAL!
  // background-color: #C3AB74 //BG PRINCIPAL!!
  font-family: Xilosa;
  color: white;
  line-height: 1;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;

  .firstTitle {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1%;
    font-size: 5em;
    font-weight: 500;
    line-height: 1.2;
    z-index: 9999;
    margin-bottom: 0;
    opacity: 0;
    animation: show 2s forwards 9s;

    @media screen and (max-width: 960px) {
      font-size: 3.8em;
    }

    @media screen and (max-width: 525px) {
      font-size: 3.1em;
    }

    @media screen and (max-width: 459px) {
      font-size: 3.2em;
    }
  }

  .secondTitle {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1% auto;
    font-size: 4.5em;
    top: 20%;
    font-weight: 500;
    line-height: 1.2;
    z-index: 9999;
    margin-top: 0;
    opacity: 0;
    animation: show 2s forwards 9.5s;

    @media screen and (max-width: 960px) {
      font-size: 3.8em;
      top: 15%;
    }

    @media screen and (max-width: 525px) {
      font-size: 3.1em;
    }

    @media screen and (max-width: 459px) {
      font-size: 3em;
      top: 22%;
    }
  }

  .container {
    background-color: black;

    .video {
      height: 100%;
      width: 100%;
      filter: brightness(50%);
      background-color: black;

      @media screen and (max-width: 960px) {
        height: 100vh;
      }
    }
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}
