@include font('xilosa', url('../../../../assets/font/xilosa.css'));

.container {
    display: grid;
    background-color: #ac6937;
    height: 14em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;

    .title {
        align-self: center;
        margin: 0;
        font-size: 5.5em;
        font-family: xilosa;
        font-weight: 500;
        line-height: 1.2;
        text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        color: white;
    }
}