@mixin font-face($font-name) {
    @font-face {
        font-family: $font-name;
        src: url('../../../../../assets/font/xilosa_.ttf') format("truetype");
    }
}

@include font-face(Xilosa);

.container {
    display: grid;
    height: 14em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;

    .hat {
        align-self: flex-end;
        margin: 0;
        font-size: 5.5em;
        font-family: Xilosa;
        font-weight: 500;
        line-height: 1.2;
        text-shadow: 1px 1px 1px #000, .5px .5px .5px #000;
        color: white;

        @media screen and (max-width: 960px) {
            font-size: 3.5em;
        }

        @media screen and (max-width: 381px) {
            font-size: 2.8em;
        }
    }

    .title {
        align-self: flex-start;
        margin: 0;
        font-size: 5.5em;
        font-family: Xilosa;
        font-weight: 500;
        // line-height: 1.2;
        text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        color: white;

        @media screen and (max-width: 960px) {
            font-size: 3.5em;
        }

        @media screen and (max-width: 517px) {
            margin: 0 5%;
            font-size: 2.4em;
        }

        @media screen and (max-width: 381px) {
            font-size: 2.5em;
        }
    }

    .leftBorder {
        position: absolute;
        height: inherit;
        transform: rotate(180deg);
        left: 0;

        filter: invert(-100%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(115%) contrast(101%);
    }

    .rightBorder {
        position: absolute;
        right: 0;
        height: inherit;

        filter: invert(-100%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(115%) contrast(101%);
    }
}