.container {
    display: grid;
    grid-template-rows: .5fr 1fr .5fr;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 .5px 2px 0 black;
    cursor: pointer;
    color: black;
    margin: 5%;
    padding: 5%;
    transition: .3s cubic-bezier(.175, .885, .32, 1.275);

    .titleContainer {
        grid-row: 1/2;
        display: grid;

        h1 {
            align-self: center;
            margin: 0;
            margin-bottom: 5%;
        }
    }

    .imageContainer {
        grid-row: 2/3;
        margin-bottom: 5%;

        .image {
            height: 90%;
            width: 40%;
        }
    }

    .contentContainer {
        grid-row: 3/4;

        h2 {
            margin: 0;
            font-size: 1em;
            text-align: justify;
            justify-self: center;
        }
    }
}

.container:hover {
    transform: translateY(-10px)
}