.image-editor-container {
    border-radius: 8px;
    cursor: pointer;
    margin: 2%;
    transition: .2s cubic-bezier(.175, .885, .32, 1.275);
    width: 100%;

    &-image {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.image-editor-container:hover {
    transform: translateY(-10px);
}