@mixin font-face($font-name) {
    @font-face {
        font-family: $font-name;
        src: url('../../../../assets/font/xilosa_.ttf') format("truetype");
    }
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@include font-face(Xilosa);

.container {
    text-align: center;
    top: 0;
    right: 0;
    transition: all .5s ease-in-out;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 99999;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #ac6937;

    .titleContainer {
        grid-row: 1/2;

        h1 {
            font-family: Xilosa;
            font-weight: 300;
            line-height: 1;
            text-shadow: 1px 1px 1px #000;
            color: white;
        }
    }

    .buttonsContainer {
        grid-row: 2/3
    }

    @media (min-width: 755px) {
        display: none;
    }
}