@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@font-face {
  font-family: Xilosa;
  src: url("../../../../assets/font/xilosa_.ttf") format("truetype");
}

.container {
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 99999;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  background-color: #C76D2B;
}

.container .titleContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container .titleContainer h1 {
  font-family: Xilosa;
  font-weight: 500;
  line-height: 1;
  text-shadow: 1px 1px 1px #000;
  color: white;
  margin: 1%;
}

.container .buttonsContainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  border-radius: 8px;
  background-color: #914E1E;
  margin: 3%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.46), 0 3px 6px rgba(0, 0, 0, 0.46);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.46), 0 3px 6px rgba(0, 0, 0, 0.46);
}

.container .buttonsContainer h1 {
  font-family: Xilosa;
  font-weight: 500;
  text-shadow: 1px 1px 1px #000;
  color: white;
  margin: 1% 0;
}

.container .buttonsContainer .svg {
  height: 35px;
}

.container .buttonsContainer .history {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .6fr;
      grid-template-columns: 1fr .6fr;
}

.container .buttonsContainer .history h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .buttonsContainer .history button {
  background-color: #449376;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
}

.container .buttonsContainer .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .6fr;
      grid-template-columns: 1fr .6fr;
}

.container .buttonsContainer .gallery h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .buttonsContainer .gallery button {
  background-color: #B69C00;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
}

.container .buttonsContainer .schedule {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .6fr;
      grid-template-columns: 1fr .6fr;
}

.container .buttonsContainer .schedule h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .buttonsContainer .schedule button {
  background-color: #D35523;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
}

.container .buttonsContainer .news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .6fr;
      grid-template-columns: 1fr .6fr;
}

.container .buttonsContainer .news h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .buttonsContainer .news button {
  background-color: #C76D2B;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
}

.container .buttonsContainer .technical {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .6fr;
      grid-template-columns: 1fr .6fr;
}

.container .buttonsContainer .technical h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .buttonsContainer .technical button {
  background-color: #449376;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
}

.container .buttonsContainer .social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .6fr;
      grid-template-columns: 1fr .6fr;
}

.container .buttonsContainer .social h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .buttonsContainer .social button {
  background-color: #B69C00;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.17);
}

.container .buttonsContainer:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container .Button {
  border: none;
  background-color: #ac6937;
  color: white;
  cursor: pointer;
  font-family: xilosa;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 12%;
  padding: 5px 0;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 8px;
  outline: none;
}

@media (min-width: 755px) {
  .container {
    display: none;
  }
}
/*# sourceMappingURL=mobileMenu.module.css.map */