@mixin font-face($font-name) {
    @font-face {
        font-family: $font-name;
        src: url('../../../../assets/font/xilosa_.ttf') format("truetype");
    }
}

@include font-face(Xilosa);

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.technicalContainer {
    text-align: center;
    color: white;
    margin: 5%;
}

.musicContainer {
    // background-color: #ae8b60;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: .1fr 1fr;
    padding: 3% 3%;

    .table {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 8px;
        margin-top: 2%;
        justify-self: center;
        width: 85%;
        color: white;
        // background-color: #212126;
        background-color: #AC6837;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

        .music {
            font-family: 'Muli', sans-serif;
            grid-column: 1/2;
            letter-spacing: 3px;
            font-size: 1.5em;
            text-shadow: 1px 1px 1px #000;
            margin: 0;

            span {
                font-family: Xilosa;
                font-weight: 300;
                line-height: 1;
                text-shadow: 1px 1px 1px #000;
                color: white;
            }
        }

        .composer {
            font-family: 'Muli', sans-serif;
            grid-column: 2/3;
            letter-spacing: 3px;
            font-size: 1.5em;
            text-shadow: 1px 1px 1px #000;
            margin: 0;

            span {
                font-family: Xilosa;
                font-weight: 300;
                line-height: 1;
                text-shadow: 1px 1px 1px #000;
                color: white;
            }
        }
    }

    .content {
        grid-row: 2/3;
        display: grid;

    }


}