@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@font-face {
  font-family: Xilosa;
  src: url("../../../../assets/font/xilosa_.ttf") format("truetype");
}

.technicalContainer {
  text-align: center;
  color: white;
  margin: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
}

@media screen and (max-width: 381px) {
  .technicalContainer {
    margin: 2%;
  }
}

.technicalContainer .textContainer1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.technicalContainer .textContainer1 h1 {
  font-size: 4em;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Muli', sans-serif;
}

@media screen and (max-width: 960px) {
  .technicalContainer .textContainer1 h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 381px) {
  .technicalContainer .textContainer1 h1 {
    font-size: 2.1em;
  }
}

.technicalContainer .textContainer1 .button {
  background-color: #ac6937;
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 2%;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 960px) {
  .technicalContainer .textContainer1 .button {
    padding: 15px 30px;
    font-size: 20px;
  }
}

.technicalContainer .textContainer1 .button:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.technicalContainer .textContainer2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.technicalContainer .textContainer2 h1 {
  font-size: 4em;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Muli', sans-serif;
}

@media screen and (max-width: 960px) {
  .technicalContainer .textContainer2 h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 381px) {
  .technicalContainer .textContainer2 h1 {
    font-size: 2.1em;
  }
}

.technicalContainer .textContainer2 .button {
  background-color: #ac6937;
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 2%;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 960px) {
  .technicalContainer .textContainer2 .button {
    padding: 15px 30px;
    font-size: 20px;
  }
}

.technicalContainer .textContainer2 .button:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.musicContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .1fr 1fr;
      grid-template-rows: .1fr 1fr;
  padding: 3% 0;
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 960px) {
  .musicContainer {
    width: 100%;
  }
}

@media screen and (max-width: 381px) {
  .musicContainer {
    width: 100%;
  }
}

.musicContainer .table {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 8px;
  margin-top: 2%;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  color: white;
  background-color: #AC6837;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

@media screen and (max-width: 960px) {
  .musicContainer .table {
    width: 82%;
  }
}

@media screen and (max-width: 381px) {
  .musicContainer .table {
    width: 92%;
  }
}

.musicContainer .table .music {
  font-family: 'Muli', sans-serif;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  letter-spacing: 3px;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #000;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .musicContainer .table .music {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 381px) {
  .musicContainer .table .music {
    font-size: 1em;
  }
}

.musicContainer .table .music span {
  font-family: Xilosa;
  font-weight: 300;
  line-height: 1;
  text-shadow: 1px 1px 1px #000;
  color: white;
}

@media screen and (max-width: 489px) {
  .musicContainer .table .music span {
    display: none;
  }
}

.musicContainer .table .composer {
  font-family: 'Muli', sans-serif;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  letter-spacing: 3px;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #000;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .musicContainer .table .composer {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 381px) {
  .musicContainer .table .composer {
    font-size: 1em;
  }
}

.musicContainer .table .composer span {
  font-family: Xilosa;
  font-weight: 300;
  line-height: 1;
  text-shadow: 1px 1px 1px #000;
  color: white;
}

@media screen and (max-width: 489px) {
  .musicContainer .table .composer span {
    display: none;
  }
}

.musicContainer .content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 960px) {
  .musicContainer .content {
    width: 82%;
  }
}

@media screen and (max-width: 381px) {
  .musicContainer .content {
    width: 92%;
  }
}

.musicContainer .content::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=TechnicalSection.module.css.map */