.technicalContainer {
    text-align: center;
}

.musicContainer {
    display: grid;
    grid-template-rows: .1fr 1fr;
    padding-bottom: 2%;
    background-color: #ae8b60;
    
    .table {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 8px;
        margin-top: 2%;
        justify-self: center;
        width: 85%;
        color: white;
        background-color: #212126;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        
        .music {
            grid-column: 1/2;
    
        }
    
        .composer {
            grid-column: 2/3;

        }
    }

    .content {
        grid-row: 2/3;
        display: grid;
    }


}