.pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  right: 30px;
  list-style: none;
  z-index: 9999;

  li {
    position: relative;
    margin: 20px 0;
    background: #fff;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    transition: all 0.2s ease;
    opacity: .6;

    &:hover {
      transform: scale(1.5);
      opacity: 1;
    }
  }

  a {
    position: absolute;
    text-decoration: none;
    left: 0;
    top: 0;
    color: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.selectedPage {
    transform: scale(2);
    opacity: 1 !important;
}