.scheduleContainer {
    // background-color: #ae8b60;
    // background-color: #AC7C44;
    // background-color: #EB632E;
    background-color: #ba4e23;

    .container {
        padding: 5%;
        display: grid;
    }
}
