.infoContainer {
    display: grid;
    // background-color: #F8D8A2;
    background-color: #293347;

    .infoText {
        height: 100vh;
        padding: 1%;
        text-align: left;
        color: white;
        // background-color: #202126; cinza-escuro
    }

}