@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.infoContainer {
    display: grid;
    // background-color: #ae8b60;
    background-color: #AC7C44;

    .textContainer {
        height: auto;
        padding: 1%;
        text-align: justify;
        color: white;

        h2 {
            font-size: 1.5em;
            font-family: 'Muli', sans-serif;
            text-shadow: .5px .5px .5px #000;
        }
    }

}