@mixin font-face($font-name) {
    @font-face {
      font-family: $font-name;
      src: url('../../../../assets/font/xilosa_.ttf') format("truetype");
    }
  }

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@include font-face(Xilosa);

.contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1fr;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.33) !important;

    .titleContainer {
        background-color: #ac6937;
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 3%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 8px;

        span {
            font-family: xilosa;
            font-weight: 300;
            line-height: 1;
            text-shadow: 1px 1px 1px #000;
            color: white;
        }

        .title {
            font-family: 'Muli', sans-serif;
            font-size: 2.5em;
            text-shadow: 1px 1px 1px #000;
        }
    }


    .social {
        grid-row: 2/3;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: .5fr 1fr;
        background-color: #ac6937;
        margin: 2% 6%;
        border-radius: 8px;
        transition: .2s cubic-bezier(.175,.885,.32,1.275);
        cursor: pointer;

        h2 {
            grid-row: 1/2;
        }

        .socialMedia {
            grid-row: 2/3;
        }
    }

    .social:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transform: translateY(-10px);
    }

    .contact {
        grid-row: 2/3;
        grid-column: 2/3;
        display: grid;
        grid-template-rows: .5fr 1fr;
        background-color: #ac6937;
        margin: 2% 6%;
        border-radius: 8px;
        transition: .2s cubic-bezier(.175,.885,.32,1.275);
        cursor: pointer;

        h2 {
            grid-row: 1/2;
        }

        .contactMedia {
            grid-row: 2/3;
        }
    }

    .contact:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transform: translateY(-10px);
    }
}